body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1c1d1e;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/**********  NavBar   **********/

#nav-bar {
  position: fixed;
  top: 1%;
  left: 65%;
  width: 100%;
}

#nav-bar .nav-link {
  font-size: 1em;
  margin-right: 3%;
  color: #495251;
}

/**********  HOME PAGE   **********/

#ak-logo-link {
  position: fixed;
  top: 1%;
  right: 93%;
}

#ak-logo {
  width: 60%;
}

.home {
  top: 0;
}

.home #home-my-name {
  color: #cfb2db;
  font-size: 7vw;
  font-family: Playfair Display, serif;
  font-weight: 900;
  margin-top: 7%;
  margin-bottom: 0;
  position: relative;
}

.home #home-my-pic {
  width: 40%;
  position: absolute;
  top: 28%;
  right: 30%;
}

.home #home-brush {
  width: 12%;
  position: absolute;
  top: 70%;
  right: 63%;
}

.home-nav {
  margin-top: 6%;
  margin-left: 75%;
  display: block;
  text-align: left;
}

.home-nav .home-nav-link {
  color: #cfb2db;
  padding: 0;
}

.home #home-job-title {
  color: #cfb2db;
  font-family: Playfair Display, serif;
  font-size: 2vw;
  margin-top: 14%;
}

#home-links {
  margin-bottom: 4%;
}

#home-links .logo-link {
  width: 3%;
  margin: 0 9px;
}

/**********  About Me Page   **********/

.carousel {
  width: 35%;
  height: auto;
  margin: 12% 4% 0%;
  display: inline-block;
  /* box-shadow: 0 4px 8px 0 rgba(169, 164, 164, 0.455),
    0 6px 20px 0 rgba(202, 199, 199, 0.431); */
}

.carousel-img {
  width: 100%;
  height: 100%;
}

.about-me #carousel-brush {
  width: 14%;
  position: absolute;
  top: 143%;
  right: 5.5%;
}

.bio #about-me-title {
  margin: 0 0 10% 0;
  color: #cfb2db;
  font-size: 6vw;
  font-family: Playfair Display, serif;
  width: 70%;
  text-align: left;
}

.bio #about-me-title p {
  margin: 0;
  padding: 0;
  line-height: 60px;
}

.bio {
  font-size: 1.1vw;
  display: inline-block;
  width: 39%;
  margin: 6% 3% 6%;
  vertical-align: top;
  color: #e8e4ea;
}

#about-me-icons p {
  color: #e8e4ea;
  font-size: 12px;
  margin: 0;
}

#about-me-icons .about-me-hobby-icon {
  align-content: center;
  display: inline-block;
  margin: 0% 3%;
  width: 6%;
  vertical-align: top;
}

#about-me-icons .about-me-logo {
  width: 40px;
  margin: 0;
}

.about-me a {
  color: #495251;
}

/**********  Skills Page   **********/

.skills #skills-title {
  margin: 24% 0 0 0;
  color: #cfb2db;
  font-size: 6vw;
  font-family: Playfair Display, serif;
  text-align: left;
  display: inline-block;
  vertical-align: top;
}

.skills #skills-title p {
  margin: 0;
  padding: 0;
  line-height: 60px;
}

.skills #skills-brush {
  margin: 0 0 0 75%;
  width: 25%;
  position: absolute;
  display: block;
}

.skills-container {
  margin: 8% 4% 0 2%;
  text-align: left;
  display: inline-block;
  width: 50%;
}

.skill-category {
  font-family: Playfair Display, serif;
  font-weight: 900;
  font-size: 25px;
  color: white;
  border-left: 1px solid white;
  padding-left: 10px;
  margin: 9% 0 0 0;
}

.skill {
  margin: 15px 15px 15px 0;
  display: inline-block;
  color: rgb(250, 234, 249);
  padding-left: 8px;
  /* background-color: rgba(225, 201, 219, 0.849); */
  /* border-radius: 9px; */
  padding: 1px 7px;
  /* font-weight: bold; */
  font-size: 15px;
}

.skills-logo {
  width: 20px;
}

/**********  Projects Page   **********/

.projects #projects-title {
  margin: 20% 0 0 40%;
  color: #cfb2db;
  font-size: 6vw;
  font-family: Playfair Display, serif;
  text-align: left;
  /* display: inline-block;
  vertical-align: top; */
}

.projects #projects-title p {
  margin: 0;
  padding: 0;
  line-height: 60px;
}

#projects-brush {
  width: 12%;
  position: absolute;
  right: 56%;
}

.projects .projects-container {
  margin: 10% 0 10% 0;
}

.project-box {
  display: inline-block;
  margin: 10px;
  width: 23%;
}

#flag-title {
  color: #cfb2db;
  font-size: 2.3vw;
  font-family: Playfair Display, serif;
  font-weight: 900;
  text-align: center;
  line-height: 30px;
  margin: auto;
}

.project {
  width: 100%;
  position: relative;
  margin: auto;
}

.default-image img {
  width: 100%;
  border-radius: 5px;
}

.project .hover-info {
  position: absolute;
  background-color: rgba(180, 154, 175, 0.885);
  color: white;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 26px 22px;
  display: none;
  border-radius: 5px;
}

.project .hover-info a {
  display: inline-block;
  margin: 0px 20px;
  color: white;
}

.project:hover .hover-info {
  display: block;
}

.project-technologies {
  display: inline-block;
  margin: 2px;
  background-color: rgba(225, 201, 219, 0.849);
  border-radius: 9px;
  padding: 1px 7px;
  font-size: 12px;
  color: #495251;
}

.project-logo-container {
  margin-top: 3%;
}

.project-code-logo {
  width: 25px;
}

.project-demo-logo {
  width: 35px;
}
