body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fff7e8;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.logo-link {
  width: 50px;
}

.nav-link {
  margin: 5px;
}

.about-me-logo {
  width: 50px;
  margin: 10px;
}

.skills-logo {
  width: 80px;
  margin: 10px;
}

.home {
  background-image: url("./images/home background.png");
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.nav-bar {
  margin-top: 36%;
  margin-left: 40%;
}

.home-nav-link {
  width: 28%;
}

.home-btn {
  width: 100%;
}

.projects {
  background-image: url("./images/projects-background.png");
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /* overflow-y: scroll; */
}

.projects-navbar {
  position: fixed;
}

.projects .projects-container {
  margin: 10% 0%;
}

.project-box {
  /* height: 50%;
  background-image: url("./images/project-box.png");
  background-repeat: no-repeat; */
  /* background-position: center; */
  display: inline-block;
  margin: 20px;
  width: 28%;
  box-shadow: 0 4px 8px 0 rgba(8, 7, 7, 0.455),
    0 6px 20px 0 rgba(0, 0, 0, 0.431);
  border-radius: 8px;
}

.project {
  position: relative;
}

.default-image img {
  width: 100%;
  border-radius: 8px;
}

.project .hover-info {
  position: absolute;
  background-color: rgba(180, 154, 175, 0.885);
  color: white;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 40px 30px;
  /* display: none; */
  border-radius: 8px;
}

.project .hover-info a {
  display: inline-block;
  margin: 0px 20px;
  color: white;
}

.project:hover .hover-info {
  display: block;
}

.project-technologies {
  display: inline-block;
  margin: 2px;
  background-color: rgba(225, 201, 219, 0.849);
  border-radius: 9px;
  padding: 1px 7px;
  font-size: 12px;
  color: #495251;
}

.project-logo-container {
  margin-top: 3%;
}

.project-code-logo {
  width: 25px;
}

.project-demo-logo {
  width: 35px;
}
